#Global ignore
#Java class files
*.class

#generated directory
bin/
Debug/
Release/
gen/
.idea/
.vs/
cmake-build-debug/

#ignore objects and archives, anywhere in the tree.
*.swp
*.un~

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Dev-c++
*.depend
*.dev
*.layout
*.in
*.out

#ignore system temp files
*~
.DS_Store
Info.plist
*.xcuserstate
*.xcworkspace
xcuserdata
*.lock

#ignore vs code project files
c_cpp_properties.json
launch.json
tasks.json
